<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WatchFolderPath" value="C:\\Temp\\Watch"/>
    <add key="PowershellScriptPath" value="C:\\Temp\\MoveFile.ps1"/>
    <add key="FileExtension" value="*.*"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>